@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin:0px;
  }
  .diogo{
    font-size: 200px;
  }
  .navbar{
    display: flex;
    padding:10px;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(40,40,195,1) 0%, rgba(0,212,255,1) 100%);
  }
  .div1{
	  margin-left: auto;
	  display: flex;
  }
  .butao{
	color:white;
	padding:10px;
	font-size: 20px;
	font-weight: 500;
  text-decoration: none;
	align-self: center;
  }
  .butao1 a{
    margin:10px;
    text-decoration: none;
    font-size: 20px;
  }
  .ricardo img{
	  height: 60px;
	  width: 60px;
	  border-radius: 50%;
	  opacity: 0.5;
	  transition: 0.5s opacity ease;

  }
  .ricardo img:hover{
	  opacity: 1;
	  transition: 0.5s opacity ease;
  }